@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  list-style: none;
}

.App {
  height: 100vh;
  text-align: center;
  background-color: forestgreen;
  background-image: url(./assets/koala.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Montserrat";
}

/* Form container */
.form-container {
  position: absolute;
  border: 1px solid red;
  background-color: #9c9999;
  color: #000000;
  border-radius: 5px;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  color: #386400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.form-container span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  display: inline-block;
  padding-left: 5px;
}

/* form-control is to style each pair of label and input */
.form-control {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.form-control label, .topics {
  padding-left: 10px;
  padding-bottom: 5px;
}

.form-control input,
button {
  height: 30px;
  width: 289px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-control input::placeholder {
  color: #8c8686;
  padding-left: 10px;
}

/* styling error message */
.error-msg {
  color: #df3232;
  font-size: 13px;
  line-height: 16px;
  padding-left: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.form-control button {
  background-color: #386400;
  margin-top: 10px;
}

/* ------------Style header ----------------- */
.header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 64px;
  line-height: 155px;
  text-align: center;
  color: #386400;
}

.subscription-call {
  line-height: 30px;
}

/* ----------Topics container -------------- */
.topics-container {
  margin-top: 20px;
}

.topics {
  text-align: left;
  margin-top: 10px;
}

.topics li {
  margin-bottom: 5px;
}

/* Customize the label (the option) */
.option {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-right: 5px;
  padding: auto 0;
  line-height: 25px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.option:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.option input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.option input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.option .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
