* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
  background-color: forestgreen;
  background-image: url(./assets/koala.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
